.lineup__player_name{
  font-size: smaller;
}

.lineup__actions{
  vertical-align: middle;
}
.lineup__info{
  float:left;
  width: 25%
}


.card-text{
    font-size: small;
}

.lineup-edit-button{
  border: none;
	background-color:transparent;
	font-family:"fontAwesome";
	font-size: 1rem;
	margin:auto;
  display:inline-block;
}

.player-remove-button{
  border: none;
	background-color:transparent;
	font-family:"fontAwesome";
	font-size: 1rem;
	margin:auto;
  display: inline-block;
}
