
	<div class = "row" >
		<div class="col-md-6">
			<div class="card-group" [attr.id]="'accordion_' + i" *ngFor="let lineup of lineups; let i = index;">
            <div class="card mb-0" data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">
                    <h2 class="card-title mb-0">
											<div class="card lineup__info">
										    <div class="card-body">
										      <h6 class="card-title">Salary</h6>
										      <p class="card-text">{{lineup.totalSalary}}</p>
										    </div>
										  </div>
										  <div class="card lineup__info">
										    <div class="card-body">
										      <h6 class="card-title">Proj Score</h6>
										      <p class="card-text">{{lineup.projectedScore}}</p>
										    </div>
										  </div>
										  <div class="card lineup__info">
										    <div class="card-body">
										      <h6 class="card-title">Act Score</h6>
										      <p class="card-text">{{lineup.actualScore}}</p>
										    </div>
										  </div>
											<div class="card lineup__info">
										    <div class="card-body">
										      <h6 class="card-title">Actions</h6>
														<button  routerLink="/" class = "lineup-edit-button"
															(click)= "passLineupToBuilder(lineup)">
															<i class="fa fa-edit"></i>
														</button>
														<button class = "player-remove-button"
															(click)= "deleteLineup(lineup)">
															<i class="fa fa-minus-circle"></i>
														</button>
										    </div>
										  </div>

                    </h2>
                <div [attr.id]="'collapseOne_' + i" class="card-collapse collapse in">
                    <div class="card-body">
											<div class="table-container">
												<table class="table table-color table-bordered table-hover">
													<tbody>
														<tr *ngFor="let player of lineup.playerDetails">
															<td>{{player.player.pos}}</td>
															<td>{{player.player?.firstName}} {{player.player?.lastName}}</td>
															<td>{{player.salary}}</td>
															<td class>{{player.projectedScore}}</td>
															<td class>{{player.actualScore}}</td>
														</tr>
											    </tbody>
												</table>
											</div>
                    </div>
                </div>
            </div>
        </div>
	</div>
	<div class="col-md-6">
		<app-lineup-result-chart></app-lineup-result-chart>
	</div>
</div>
