<body>
	<div class = "col-md-6" >
		<table class="table table-color table-bordered table-hover">
		<tr *ngFor="let lineup of lineups">
			<td *ngFor = "let player of lineup.playerDetails" class="col-md-4">
				<div>{{player.player.firstName}}</div>
				<div>{{player.player.lastName}}</div>
				<div>{{player.salary}}</div>
				<div>{{player.projectedScore}}</div>
			</td>
			<td>
				<div>{{lineup.totalSalary}}</div>
				<div>{{lineup.projectedScore}}</div>
			</td>
			<td>
			<div>
				<button class = "player-remove-button"
						(click)= "removeLineup(lineup)">
					<i class="fa fa-minus-circle fa-lg"></i>
				</button>
			</div>
			</td>
			<td>
			<div>
				<button  routerLink="/" class = "lineup-edit-button"
						(click)= "passLineupToBuilder(lineup)">
					<i class="fa fa-edit"></i>
				</button>
			</div>
			</td>
		</tr>
	</table>
	</div>
</body>
