<div class="row">
	<app-players
		class="col-md-8"
		(addedPlayer) = "onAddedPlayer($event)"
	></app-players>
	<div   class="col-md-4 lineup-builder-container" >
		<div class="row">
			<div class="col-xs-4 text-center">
				<div class="lineup_salary_label">Total Salary</div>
				<div class="lineup_salary_rem">{{lineupService.remSalary}}</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="lineup_salary_Label">Salary/Player</div>
				<div class="lineup_salary_rem">{{lineupService.salaryPerPlayer | number:0}}</div>
			</div>
			<div class="col-xs-4 text-center">
				<div class="lineup_points_label">Projected Points</div>
				<div class="lineup_points_counter">{{lineupService.points}}</div>
			</div>
		</div>
			<div class="table-container">
				<table class="table table-color table-bordered table-hover">
					<tbody>
						<tr *ngFor="let player of players">
							<td>{{player.pos}}</td>
							<td>{{player.player?.firstName}} {{player.player?.lastName}}</td>
							<td>{{player.salary}}</td>
							<td class>{{player.projectedScore}}</td>
							<td class = "player-add">
								<button class = "player-remove-button"
								(click)= "removePlayer(player)">
								<i class="fa fa-minus-circle fa-sm"></i>
								</button>
							</td>
						</tr>
			    </tbody>

				</table>
			</div>
			<button  [hidden]="lineupService.lineup?.id" [disabled]="lineupService.playerCount.total!=9" (click)="saveOrUpdateLineup()">Save</button>
			<button  [hidden]="!lineupService.lineup?.id" [disabled]="lineupService.playerCount.total!=9" (click)="saveOrUpdateLineup(lineupService.lineup)">update</button>
			<button  (click)="clearLineup(lineupService.lineup)">New</button>
			<button  [hidden]="lineupService.lineup?.id"  (click)="getOptimizedLineups(1)">Optimize</button>
</div>
